# ============================
# OS Files
# ============================
.DS_Store
Thumbs.db

# ============================
# Android Studio / IntelliJ
# ============================
*.iml
.idea/
!.idea/codeStyles
!.idea/inspectionProfiles

# ============================
# Gradle
# ============================
.gradle/
build/

# ============================
# Local Config
# ============================
local.properties

# ============================
# Native Build
# ============================
.externalNativeBuild/
.cxx/

# ============================
# Logs
# ============================
*.log

# ============================
# Signing
# ============================
*.keystore
*.jks

# ============================
# Captures
# ============================
captures/

# ============================
# Kotlin
# ============================
.kotlin/

# ============================
# Debug / Temp
# ============================
tmp/
